@import '../core/variables';
button {
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    color: $white-color;
    font-size: 16px;
    letter-spacing: 1px;
    background: $background-purple-color;
    cursor: pointer;
}

.btn-primary {
    background: $button-color;
}