// colors
$white-color: #ffffff;
$red-color: #ff0000;
$yellow-color: #ffff00;
$background-purple-color: #603bbb;
$background-gray-color: #e9e9e9;
$box-shadow-black: rgba(0, 0, 0, 0.8);
// button
$background-button-color: #3a2b58;
// input
$input-background-dark-color: rgba(255, 255, 255, 0.1);
$input-terminal-gray-color: #c9c9c9;
$display-amount-color: #280d5ee5;
// qrcode
$qrcode-wallet-color: #e17c09;